# Java
target/
*.class
.idea/
*.iml

# .NET
bin/
obj/

# Node
node_modules/
build/
.env

# OS
.DS_Store
Thumbs.db

# .NET
bin/
obj/
backend/admin_service(.NET)/GreenCart_Admin_Service(.NET)/bin/
backend/admin_service(.NET)/GreenCart_Admin_Service(.NET)/obj/
